<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Board Game Picker</title>
</head>
<body>
    <h1>Add a Game</h1>
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}

    <form method="POST" action="/add">
        <!-- Game Name -->
        <label>Game Name</label><br>
        <input type="text" name="gname"required><br><br>

        <!-- Min Players -->
        <label>Minimum Number of Players</label><br>
        <input type="number" min="1" name="minplayers" required><br><br>

        <!-- Max Players -->
        <label>Maximum Number of Players</label><br>
        <input type="number" min="1 " name="maxplayers" required><br><br>

        <!-- Game Categories -->
        <label>Choose at least one Game Category</label><br>
        <input type="checkbox" id="category-simple" name="category" value="simple">
        <label for="category-simple">Simple</label><br>

        <input type="checkbox" id="category-complicated" name="category" value="complicated">
        <label for="category-complicated">Complicated</label><br>

        <input type="checkbox" id="category-quick" name="category" value="quick">
        <label for="category-quick">Quick</label><br>

        <input type="checkbox" id="category-long" name="category" value="long">
        <label for="category-long">Long</label><br>

        <input type="checkbox" id="category-cooperative" name="category" value="cooperative">
        <label for="category-cooperative">Cooperative</label><br>

        <input type="checkbox" id="category-party" name="category" value="party">
        <label for="category-party">Party Game</label><br>

        <input type="checkbox" id="category-frenetic" name="category" value="frenetic">
        <label for="category-frenetic">Frenetic</label><br>

        <input type="checkbox" id="category-table" name="category" value="table">
        <label for="category-table">Needs To Be Played On A Table</label><br>

        <input type="checkbox" id="category-couch" name="category" value="couch">
        <label for="category-couch">Can Be Played On The Couch</label><br><br>

        <input type="password" name="auth_word" placeholder="Authorization word" required><br><br>

        <!-- Submit -->
        <button type="submit">Submit</button> <br><br>
        <a href="/">Back to Home</a>
    </form>
</body>
</html>