<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Game Picker</title>
</head>
<body>
    <h1>Pick a random game</h1>


    <form method="POST" action="/random">

        <!-- Players -->
        <label>How many players you have?</label><br>
        <input type="number" min="1" name="numplayers" required><br><br>


        <!-- Game Categories -->
        <label>Choose the Game Categories</label><br>
        <input type="checkbox" id="category-simple" name="category" value="simple">
        <label for="category-simple">Simple</label><br>

        <input type="checkbox" id="category-complicated" name="category" value="complicated">
        <label for="category-complicated">Complicated</label><br>

        <input type="checkbox" id="category-quick" name="category" value="quick">
        <label for="category-quick">Quick</label><br>

        <input type="checkbox" id="category-long" name="category" value="long">
        <label for="category-long">Long</label><br>

        <input type="checkbox" id="category-cooperative" name="category" value="cooperative">
        <label for="category-cooperative">Cooperative</label><br>

        <input type="checkbox" id="category-party" name="category" value="party">
        <label for="category-party">Party Game</label><br>

        <input type="checkbox" id="category-frenetic" name="category" value="frenetic">
        <label for="category-frenetic">Frenetic</label><br>

        <input type="checkbox" id="category-table" name="category" value="table">
        <label for="category-table">Needs To Be Played On A Table</label><br>

        <input type="checkbox" id="category-couch" name="category" value="couch">
        <label for="category-couch">Can Be Played On The Couch</label><br><br>

        <!-- Submit -->
        <button type="submit">Submit</button> <br><br>
        <a href="/">Back to Home</a>
    </form>

    {% if random_game %}
    <h2>Selected Game:</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Players</th>
            <th>Categories</th>
        </tr>
        <tr>
            <td>{{ random_game.name }}</td>
            <td>{{ random_game.min_players }} - {{ random_game.max_players }}</td>
            <td>{{ random_game.tags | join(', ') }}</td>
        </tr>
    </table>
    {% elif selected_num_players %}
        <p>No games found matching your criteria.</p>
    {% endif %}

</body>
</html>